<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.report.mapper.AdminMapper">

    <!--<sql id="Base_Column_List">-->
    <!--p_id,p_name,p_status,p_desc-->
    <!--</sql>-->
    <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">-->
    <!--select-->
    <!--<include refid="Base_Column_List"/>-->
    <!--from t_menu t-->
    <!--where id = #{id,jdbcType=INTEGER}-->
    <!--</select>-->


    <insert id="publishProject" parameterType="com.example.report.domain.DTO.ProjectPublishDTO">
        INSERT INTO rt_project
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                p_id,
            </if>
            <if test="projectName != null">
                p_name,
            </if>
            <if test="projectDesc != null">
                p_desc,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">
                #{projectId,jdbcType=INTEGER},
            </if>
            <if test="projectName != null">
                #{projectName,jdbcType=VARCHAR},
            </if>
            <if test="projectDesc != null">
                #{projectDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <insert id="addUPManager" parameterType="java.util.Map">
        INSERT INTO rt_up_manager (upm_id, u_id, p_id,upm_status) VALUES (#{upManagerId}, #{userId}, #{projectId},1)
    </insert>
    <insert id="addUPParticipant" parameterType="java.util.Map">
        INSERT INTO rt_up_participant (upp_id, u_id, p_id, upp_starttime,upp_status) VALUES (#{upParticipantId}, #{userId}, #{projectId}, #{startTime},1)
    </insert>

    <select id="getProjectTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM rt_project
    </select>
    <select id="getUPManagerTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM  rt_up_manager
    </select>
    <select id="getUPParticipantTotal" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM  rt_up_participant
    </select>

    <resultMap id="projectInfoList_sap" type="java.util.Map">
        <id column="p_id" property="p_id" jdbcType="INTEGER"/>
        <result column="p_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="p_desc" property="projectDesc" jdbcType="VARCHAR"/>
        <result column="upm_id" property="upm_id" jdbcType="INTEGER"/>
        <result column="u_id" property="u_id" jdbcType="INTEGER"/>
        <result column="u_name" property="projectLeader" jdbcType="VARCHAR"/>
        <result column="upp_id" property="upp_id" jdbcType="INTEGER"/>
    </resultMap>
    <select id="showAllProject" resultMap="projectInfoList_sap">
        SELECT
            p.p_id,
            p.p_name,
            p.p_desc,
            upm.upm_id,
            upm.u_id,
            u.u_name,
            upp.upp_id
        FROM
            rt_project p
            LEFT JOIN rt_up_manager upm ON p.p_id = upm.p_id
            LEFT JOIN rt_user u ON upm.u_id = u.u_id
            LEFT JOIN rt_up_participant upp ON u.u_id = upp.u_id
            AND p.p_id = upp.p_id
        ORDER BY
            p.p_status DESC;
    </select>
    <resultMap id="userList_sau" type="com.example.report.domain.DTO.ParticipantDTO">
        <id column="u_id" property="u_id" jdbcType="INTEGER"/>
        <result column="u_name" property="u_name" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="showAllUser" resultMap="userList_sau">
        SELECT u_id, u_name FROM rt_user WHERE u_status = 20;
    </select>
    <resultMap id="userInfo_saui" type="java.util.Map">
        <id column="u_id" property="id" jdbcType="INTEGER"/>
        <result column="u_base" property="base" jdbcType="VARCHAR"/>
        <result column="u_name" property="name" jdbcType="VARCHAR"/>
        <result column="u_phone" property="phone" jdbcType="VARCHAR"/>
        <result column="u_role" property="role" jdbcType="INTEGER"/>
        <result column="u_status" property="status" jdbcType="INTEGER"/>
    </resultMap>
    <select id="showAllUserInfo" resultMap="userInfo_saui">
        SELECT u_id, u_base, u_name, u_phone, u_role FROM rt_user WHERE u_status = 20 ORDER BY u_role;
    </select>
    <update id="updateProjectStatus" parameterType="java.lang.Integer">
        UPDATE rt_project SET p_status = #{status} WHERE p_id = #{pid}
    </update>
    <update id="updateUPPStatus" parameterType="java.lang.Integer">
        UPDATE rt_up_participant SET upp_status = #{status} WHERE upp_id = #{uppid}
    </update>
    <update id="updateUPMStatus" parameterType="java.lang.Integer">
        UPDATE rt_up_manager SET upm_status = #{status} WHERE upm_id = #{upmid}
    </update>
    <update id="updateUPPStatusPersonal" parameterType="java.util.Map">
        UPDATE rt_up_participant SET upp_status = #{status} WHERE p_id = #{pid} AND u_id = #{uid}
    </update>
    <update id="updateUPMStatusPersonal" parameterType="java.util.Map">
        UPDATE rt_up_manager SET upm_status = #{status} WHERE p_id = #{pid} AND u_id = #{uid}
    </update>
    <update id="updateProjectNameDetail" parameterType="java.util.Map">
        UPDATE rt_project
        <set>
            <if test="projectDesc != null">
                p_desc = #{projectDesc},
            </if>
            <if test="projectName != null">
                p_name = #{projectName},
            </if>
        </set>
        where p_id = #{p_id}
    </update>
    <resultMap id="userInfo_clie" type="java.util.Map">
        <id column="upm_id" property="upmid" jdbcType="INTEGER"/>
        <result column="u_id" property="uid" jdbcType="INTEGER"/>
        <result column="p_id" property="pid" jdbcType="INTEGER"/>
        <result column="upm_status" property="upmstatus" jdbcType="INTEGER"/>
    </resultMap>
    <select id="checkLeaderIsExist" parameterType="java.util.Map" resultMap="userInfo_clie">
        SELECT upm_id, u_id, p_id, upm_status FROM rt_up_manager WHERE u_id = #{u_id} AND p_id = #{p_id}
    </select>
    <update id="zeroLeaderInUPM" parameterType="java.util.Map">
        UPDATE rt_up_manager SET upm_status = 0 WHERE p_id = #{p_id} AND u_id = #{u_id}
    </update>
    <update id="zeroLeaderInUPP" parameterType="java.util.Map">
        UPDATE rt_up_participant SET upp_status = 0 AND upp_endtime = #{endTime} WHERE p_id = #{p_id} AND u_id = #{u_id}
    </update>
    <select id="getUserTotalNum" resultType="java.lang.Integer">
         SELECT COUNT(*) FROM rt_user
    </select>
    <insert id="saveUser" parameterType="java.util.Map">
        INSERT INTO rt_user(u_id, u_base, u_name, u_phone) VALUES (#{u_id}, #{userBase}, #{userName}, #{userPhone})
    </insert>
    <update id="delUser" parameterType="java.lang.String">
        UPDATE rt_user SET u_status = 21 WHERE u_id = #{uid}
    </update>
    <update id="delUserInUPM" parameterType="java.lang.String">
        UPDATE rt_up_manager SET upm_status = 0 WHERE upm_id in(SELECT * FROM(SELECT upm_id FROM rt_up_manager where u_id = #{uid}) p)
    </update>
    <update id="delUserInUPP" parameterType="java.util.Map">
        UPDATE rt_up_participant SET upp_status = 0 WHERE upp_id in(SELECT * FROM(SELECT upp_id FROM rt_up_participant where u_id = #{uid}) p)

    </update>
    <update id="restPassword" parameterType="java.lang.String">
        UPDATE rt_user SET u_password = 123456 WHERE u_id = #{uid}
    </update>

    <resultMap id="projectInfoDTO" type="com.example.report.domain.DTO.RootProjectDTO">
        <id column="p_id" property="p_id" jdbcType="INTEGER"/>
        <result column="p_name" property="projectName" jdbcType="VARCHAR"/>
        <result column="p_desc" property="projectDesc" jdbcType="INTEGER"/>
        <result column="p_status" property="p_status" jdbcType="INTEGER"/>
    </resultMap>
    <select id="showProjectInfo" resultMap="projectInfoDTO">
        select p_id,p_name,p_desc,p_status from rt_project
    </select>

    <resultMap id="leaderInfoDTO" type="com.example.report.domain.DTO.LeaderInfoDTO">
        <id column="upm_id" property="upm_id" jdbcType="INTEGER"/>
        <result column="upp_id" property="upp_id" jdbcType="INTEGER"/>
        <result column="u_id" property="u_id" jdbcType="INTEGER"/>
        <result column="u_name" property="leaderName" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="showLeaderInfo" resultMap="leaderInfoDTO">
        SELECT m.upm_id,p.upp_id,m.u_id,u.u_name from rt_up_manager m,rt_up_participant p,rt_user u WHERE u.u_id=m.u_id and m.u_id=p.u_id
        and  m.p_id=p.p_id and m.p_id=#{p_id} and upm_status=1
    </select>

    <select id="showStatus" resultType="java.lang.Integer">
      select upm_status from rt_up_manager where u_id=#{uid} and p_id=#{pid}
    </select>

    <update id="updateUserInfo" parameterType="java.util.Map">
        update rt_user set u_base=#{userBase},u_name=#{userName},u_phone=#{userPhone},u_password=#{userPassword} where u_id=#{userId}
    </update>
</mapper>